@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=M+PLUS+1+Code:wght@500&display=swap');


.ptitle{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .card {
    background-color: #131316;
    backdrop-filter: blur(20px);
    margin: auto;
    border-radius: 8px;
    border-color: rgba(219, 10, 10, 0.06);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    }

    .card-body2{
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
      }

      .card:hover {
        color: #fff;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 10px rgba(71, 179, 228,0.5);
        
        cursor: pointer;
      }

    .card:hover h3,
    .card:hover i {
    color: #fff;
  }
    




body{
    background-color: #131316;
    color:#ffffff;
    font-family: 'poppins',sans-serif;
    padding: 0;
    margin: 0;
}


section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 200px;
}

.Hidden{
    opacity: 0;
    filter: blur(5px);
    transform : translateX(-100%);
    transition: all 3s;

}

.show{
    opacity: 1;
    filter: blur(0px);
    transform : translateX(0%);

}



.logos{
    display:flex;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}


.logo:nth-child(3){
    transition-delay: 400ms;
}


.logo:nth-child(4){
    transition-delay: 600ms;
}


.project-card{
    border: 2px solid white;
  }




